.content {
    position: absolute;
    left:  50px;
    top: 0;
      transform: translate(-50%, -50%);
    
    p {
      margin: 0 0 20px;
    }
    
  }
  
  /* Animation */
  #more-arrows {
      width: 75px;
    height: 65px;
    
    &:hover {
      
      polygon {
        fill: #000;
        transition: all .2s ease-out;
  
        &.arrow-bottom {
          transform: translateY(-18px);
        }
  
        &.arrow-top {
          transform: translateY(18px);
        }
        
      }
    
    }
    
  }
  
  polygon {
    fill: #000;
    transition: all .2s ease-out;
      
    &.arrow-middle {
        opacity: 0.75;
      }
  
      &.arrow-top {
        opacity: 0.5
      }
       
  }