.detailMovie{
    overflow-x: hidden;
   background: #000;
    position: relative;
}
.detailMovie .movie-content .movieName{
    font-size: 30px;
    font-weight: 600;
}

.detail-background{
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
}
.style-gradient{
    overflow: hidden;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 850px;
    background: linear-gradient(to right, #000, transparent);
}
.detail-container{
    position: absolute;
    top: 150px;
    left: 30px;
}
.detail-content{
    position: absolute;
    top: 410px;
    left: 20px;

}
.imdbs{
    background: #ffdb61;
    color: #000;
    border: 1px solid #000;
    border-radius: 10px;
    font-weight: 600;
    width: 30px;
    padding: 3px;
}
.danhGia{
    background: #7ed321;
    border: 1px solid #000;
    border-radius: 50%;
    width: 45px;
    padding: 7px;
}
.bi.bi-star{
    color: #fff;
}
.bi.bi-star-fill, .bi.bi-star, .bi-star-half{
    margin-right: 5px;
}
.bi.bi-star-fill, .bi-star-half{
    color: #ffdb61;
}
.detail-trailer,.detail-ticket{
    background: #2196F3;
    color: #fff;
    border-radius: 1px solid #000;
    border-radius: 25px;
    margin-right: 35px;
    font-size: 30px;
    padding: 6px;
}
.detail-trailer:hover, .detail-ticket:hover{
    background: #fff;
    border: 1px solid #2196F3;
    color:#2196F3;
}
.close-trailer{
    border: 3px solid #2196F3;
    background: none;
    border-radius: 10px;

}
.close-trailer:hover {
    background: #2196F3;
    border: 2px solid #000;
    color: #fff;
}
.card-container{
    position: relative;
}
.btn-cardmovie{
    transition: all .5s;
    opacity: 0;
    position: absolute;
    bottom: 45%;
    left: 35%;

}
.trailer-card{
    color: #fff;
    font-size: 30px;
    border: 1px solid #fff;
    border-radius: 50%;
    padding: 6px 6px 8px 7px;
    background: rgb(0,0,0,.55);
}
.card-container:hover .btn-cardmovie{
    opacity: 1;
    transform: scale(1.2);
}
/* Querry Media */
 @media screen and (max-width: 770px) {
    .detail-recommend{
         display: none !important;
     }
     .modal-content{
        width: 500px !important;
    }
    .modal-body iframe{
        width: 450px !important;
    }
  
 }
 @media screen and (max-width: 890px) and (min-width: 770px) {
    .modal-content{
        width: 580px !important;
    }
    .modal-body iframe{
        width: 550px !important;
    }
 }