.card{
    position: relative;
    top: 60px;
}
input,
textarea {
    background-color: #F3E5F5;
    border-radius: 20px !important;
    padding: 12px 15px 12px 15px !important;
    width: 100%;
    box-sizing: border-box;
    border: none !important;
    border: 1px solid #F3E5F5 !important;
    font-size: 13px !important;
    color: #000 !important;
    font-weight: 400
}

input:focus,
textarea:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: 1px solid #D500F9 !important;
    outline-width: 0;
    font-weight: 400
}

button:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    outline-width: 0
}

.card {
    border-radius: 0;
    border: none
}

.cardLogin {
    padding: 20px;
    background-color: white;
    width: 50%;
}
::placeholder {
    color: #000 !important;
    opacity: 1
}

:-ms-input-placeholder {
    color: #000 !important
}

::-ms-input-placeholder {
    color: #000 !important
}

.form-control-label {
    font-size: 12px;
    margin-left: 15px
}

/* .msg-info {
    padding-left: 15px;
    margin-bottom: 30px
} */
.btn-color {
    border-radius: 50px;
    color: #fff;
    background-image: linear-gradient(to right, #FFD54F, #D500F9);
    padding: 15px;
    cursor: pointer;
    border: none !important;
    margin-top: 20px
}

.btn-color:hover {
    color: #fff;
    background-image: linear-gradient(to right, #D500F9, #FFD54F)
}
a {
    color: #000
}

a:hover {
    color: #000
}

.bottom {
    width: 100%;
}
small.forgetpasswordText:hover{
    color: blue;
}

.sm-text {
    font-size: 15px
}

/* Media Query */
@media screen and (max-width: 576px) {
    .cardLogin{
        width: 80% !important;
    }
}
@media screen and (min-width: 576px) and (max-width: 768px){
    .cardLogin{
        width: 100% !important;
    }
}
@media screen and (max-width: 800px) {
    .card{
        position: relative;
        top: 60px !important;
        left: 20px !important;
    }
}
@media screen and (min-width: 990px) and (max-width: 1024px){
    .card{
        position: relative;
        top: 60px !important;
        right: 50px !important;
    }
}
