#showtime{
    padding-top: 40px;
}
#showtime .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active ,#showtime .nav-tabs .nav-link:hover{
    border: none;
}
#showtime .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link{
    position: relative;
}
#showtime .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link::after{
    content: '';
    display: block;
    height: 3px;
    background-image: linear-gradient(to right,#fbbd61,#ec7532);
    box-shadow: 0 0 20px 0 #fbbd61;
    width: 0;
    transition: all .3s;
    position: absolute;
    left: 0;
    bottom: -1px;
}
#showtime .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link:hover::after{
    width: 100%;
}

#showtime .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active::after{
    width: 100%;
}
#showtime .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    text-transform: uppercase;
    font-size: 25px;
    color: #fbbd61;
}
#showtime .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link{
    text-transform: uppercase;
    font-size: 25px;
    color: rgba(0,0,0,.55);
}
.card-movie{
    width: 232px !important;
}
.btn-detail{
    padding: 10px;
    text-decoration: none;
    border-radius: 20px;
    border: 1px solid rgba(21, 101, 192, 0.71) ;
    color: #1E90FF;
}
.btn-detail:hover{
    font-weight: bold;
     border: 1px solid #fff;
     background: #1E90FF;
     color: #fff;
}
.detailButton{
    position: relative;
    overflow: hidden;
}
.buttonContent{
    position: absolute;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,.55);
    text-align: center;
    padding-top: 10px;
    width: 214px;
    height: 50px;
    transition: all .5s;
    transform: translateY(50px);
}
.detailButton:hover .buttonContent{
    transform: translateY(0px);
    
}
/* Search button */
.searchBtn{
    background: #fff !important;
    border: 1px solid #000 !important;
}