.button-theater{
    border-bottom: 1px solid #dcdcdc !important;
}

.button-theater:hover{
    opacity: 1 !important;
}

.active, .button-theater:hover{
    opacity: 1 !important;
}

.theater-detail:hover {
    transition: all .5s;
    color: 	#E42217;
    font-weight: bold;
}
.showtime-content{
    border-bottom: 1px solid #dcdcdc !important;
}
.logo-theater{
    transition: all .5s;
}
.logo-theater:hover{
    opacity: 1 !important;
    transform: scale(1.1,1.1)
}
