.screen-ticket{
    border-bottom: 50px solid rgb(255, 159, 95);
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    height: 100px;
    width: 100%;
    filter: drop-shadow(4px 30px 20px rgba(255, 255,255 , .5));
    font-size: 25px;
    color: #fff;
}
.gheVip{
    background: #FFD700;
    border: 1px solid yellow;
}
.gheThuong{
    background: #fff;
}
.gheDaDat {
    background: #EE0000 !important;
}
.gheDangDat{
    background: #33ff33;
}
.combo-button:hover{
    color:#EE0000;
    font-weight: bold;
}
.image-ticket{
    transition: all .5s;
}
.image-ticket:hover{
    transform: scale(1.1, 1.1);
}
.minusCombo:hover{
    color: #FFD700;
}
/* Media Querry */
@media screen and (max-width: 750px) {
    .ticket-background{
        width: 100%;
        height: 2000px !important;
    }
}
@media screen and (min-width: 751px) and (max-width: 870px) {
    .ticket-background{
        width: 100%;
        height: 1510px !important;
    }
    .ticket-content{
        height: 1000px !important;
    }
    .ticket-price{
        font-size: 25px !important;
    }
    .combo-price{
        padding:0 4px !important;
    }
}
@media screen and (min-width: 870px) and (max-width: 999px){
    .ticket-background{
        width: 100%;
        height: 1600px !important;
    } 
}
@media screen and (max-width: 420px){
    .ticket-background{
        width: 100%;
        height: 2550px !important;
    } 
    .ticket-price{
        display: none;
    }
}
@media screen and (min-width: 430px) and (max-width: 740px){
    .ticket-background{
        width: 100%;
        height: 2500px !important;
    } 
}